html {
    scroll-behavior: smooth;
}
body {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    color: var(--cor-fonte-principal);
    background-color: var(--cor-bg);
}
 /* Variavis CSS */
:root {
    
    --fonte-principal: font-family: "Mulish", sans-serif;
    --cor-bg: #F6F5F5;
    --cor-fonte-principal: #444444;
    --branco: #ffffff;
    --roxo: #B116ED;
    --laranja: #EC994B;
    --azul: #0049E6;
    --cinza-barra-de-busca:#EDEDED;
    --cinza-placeholder:#aaaaaa;
}
/* Fim Variavis CSS */

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--branco);
    height: 80px;

}

.container {
    display: flex;
    width: 1400px;
    align-items: center;
    justify-content: center;
    margin: 0  auto;
}


/* NAVEGACAO */
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.nav__item {
    margin: 0 15px;
    transition: all 250ms;
}

.nav__item:hover {
    cursor: pointer;
    color: var(--laranja);
}

.nav__item::after {
    font: var(--fa-font-solid);
    content: "\f0d7";
    margin-left: 8px;
    color: #6d6d6d;
}

.nav__item:hover::after {
    color: var(--roxo);
}
/* FIM NAVEGACAO */

/* FIM MENU-USUARIO */
.menu-usuario {
    display: flex;
    justify-content: space-evenly;
    width: 187px;
}

.menu-usuario a {
    color: var(--cor-fonte-principal);
    transition: all 250ms;
}

.menu-usuario a:hover:first-child {
    color: var(--azul);
}
.menu-usuario a:hover{
    color: var(--laranja);
}
.menu-usuario a:hover:last-child{
    color: var(--roxo);
}
/* FIM MENU-USUARIO */

/* HERO */
.hero__imagem{
    width: 100vw;
   /* size: 100%; */
}
/* FIM HERO */

/* BARRA DE BUSCA */
.barra-de-busca {
        background-color: var(--branco);
        height: 107px;
        /* max-height: 107px; */
        display: flex;
}

.barra-de-busca__input {
    text-align: center;
    /* width: 543px; */
    width: 40vw;
    /* height: 58px; */
    height: 3.625rem;
    margin: auto;
    color: var(--cor-fonte-principal);
    background: var(--cinza-barra-de-busca);
    border-radius: 100px;
    border: none;
    font-family: var(--fonte-principal);
    font-size: 1.2rem;
    transition: all 250ms;
}


.barra-de-busca__input::placeholder {
    font-family: var(--fonte-principal);
    color: var(--cinza-placeholder);
    font-size: 1rem;
    transition: all 250ms;
}

.barra-de-busca__input:hover::placeholder {
    font-size: 1.2rem;
    transition: all 250ms;
}
/* FIMBARRA DE BUSCA */

/* CARROSSEL 1 */
.wrapper {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
    margin-top: 30px;
    padding: 15px 0;
   }
   .wrapper section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 25%);
    margin: 80px 0;
   }
   .wrapper section .item {
    padding: 0 2px;
    transition: 250ms all;
    border-radius: 50px;
   }

.wrapper section .item img {
    border-radius: 50px;
}

   .wrapper section .item:hover {
    /* padding: 0 16px; */
    transform: scale(1.05);
    cursor: pointer;
   }
   .wrapper section a {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background: black;
    width: 80px;
    padding: 20px;
    text-align: center;
    z-index: 1;
   }
   .wrapper section a:nth-of-type(1) {
    top: 25%;
    bottom: 0;
    left: 0;
    background: transparent;
   }
   .wrapper section a:nth-of-type(2) {
    top: 25%;
    bottom: 0;
    right: 0;
    background: transparent;
   }
   @media only screen and (max-width: 600px) {
    a.arrow__btn {
    display: none;
    }
   }
/* FIM CARROSSEL 1 */